<div
    id="edit-vehicle-modal"
    tabindex="-1"
    class="fixed inset-0 bg-gray-600 bg-opacity-50 flex overflow-y-auto overflow-x-hidden top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 max-h-full"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t"
            >
                <h3 class="text-lg font-semibold text-gray-900">
                    Editar vehículo
                </h3>
                <button
                    type="button"
                    (click)="onClose()"
                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                    data-modal-toggle="edit-vehicle-modal"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form
                class="p-4 md:p-5"
                [formGroup]="vehicleForm"
                (ngSubmit)="onSubmit()"
            >
                <!-- Campo para la placa -->
                <div class="mb-4">
                    <label
                        for="license_plate"
                        class="block text-gray-700 font-medium mb-2"
                        >Placa</label
                    >
                    <input
                        type="text"
                        id="license_plate"
                        formControlName="license_plate"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
                        placeholder="Ej: ABC123"
                    />

                    <div
                        *ngIf="
                            licensePlate?.errors &&
                            (licensePlate?.touched || licensePlate?.dirty)
                        "
                        class="text-red-500 text-sm"
                    >
                        <small *ngIf="licensePlate?.errors?.['required']"
                            >Ingresa una placa válida.</small
                        >
                        <small *ngIf="licensePlate?.errors?.['pattern']"
                            >Formato incorrecto (alfanumérico, máx. 7
                            caracteres).</small
                        >
                        <small *ngIf="licensePlate?.errors?.['backend']">{{
                            licensePlate?.errors?.['backend']
                        }}</small>
                    </div>
                </div>

                <!-- Campo para el VIN -->
                <div class="mb-4">
                    <label
                        for="vin"
                        class="block text-gray-700 font-medium mb-2"
                        >VIN</label
                    >
                    <input
                        type="text"
                        id="vin"
                        formControlName="vin"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
                        placeholder="Ej: 1HGCM82633A123456"
                    />

                    <div
                        *ngIf="vin?.errors && (vin?.touched || vin?.dirty)"
                        class="text-red-500 text-sm"
                    >
                        <small *ngIf="vin?.errors?.['required']"
                            >El VIN es obligatorio.</small
                        >
                        <small *ngIf="vin?.errors?.['pattern']"
                            >Debe ser exactamente 17 caracteres
                            alfanuméricos.</small
                        >
                        <small *ngIf="vin?.errors?.['backend']">{{
                            vin?.errors?.['backend']
                        }}</small>
                    </div>
                </div>

                <!-- Campo para el modelo -->
                <div class="mb-4">
                    <label
                        for="model"
                        class="block text-gray-700 font-medium mb-2"
                        >Modelo</label
                    >
                    <input
                        type="text"
                        id="model"
                        formControlName="model"
                        class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-blue-500"
                        placeholder="Ej: Accord 2022"
                    />

                    <div
                        *ngIf="model?.invalid && model?.touched"
                        class="text-red-500 text-sm"
                    >
                        <small>Ingresa un modelo válido.</small>
                    </div>
                </div>

                <!-- Botón para enviar -->
                <div class="mb-4 text-right">
                    <button
                        type="submit"
                        [disabled]="vehicleForm.invalid || !isFormModified()"
                        class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center disabled:opacity-50"
                    >
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
