<div
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50"
>
    <div class="bg-white rounded-lg p-6 w-96 shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Confirmar Baja</h2>
        <p>
            ¿Estás seguro de que deseas dar de baja el vehículo con VIN
            {{ vehicle.vin }}?
        </p>
        <div class="mt-4 flex justify-end gap-2">
            <button
                (click)="onClose()"
                class="border-2 border-gray-500 text-gray-600 px-4 py-2 rounded hover:bg-gray-500 hover:text-white"
            >
                Cancelar
            </button>
            <button
                (click)="onConfirm()"
                class="bg-red-600 text-white px-4 py-2 rounded hover:bg-red-700"
            >
                Dar de Baja
            </button>
        </div>
    </div>
</div>
